<div class="container" ng-controller="listCtrl">
    <h2 style="margin-bottom: 8px;">List user</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody >
        <tr ng-repeat="u in user.data">
            <td>{{u.name}}</td>
            <td>{{u.email}}</td>
            <td>
<!--                <i class="fas fa-user-edit"></i>&nbsp;&nbsp;-->
                <button ng-click="delete(u.id)" name="delete" type="submit" class="btn btn-success">  <i class="fas fa-trash"></i></button>

            </td>
        </tr>
        </tbody>
    </table>
</div>